.container {
  height: 65px;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: #1b08b2;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.content .child2 {
  height: 65px;
  align-items: center;
  display: flex;
  align-items: center;
}
.content {
  width: 98%;
  justify-content: space-between;
  margin: auto auto;
  display: flex;
}
.content img {
  cursor: pointer;
}

.borderBottom {
  width: 83%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.25);
  margin-top: 44px;
  position: absolute;
  z-index: 10000;
}

.child3 {
  display: flex;
  font-family: var(--fontRegular);
  margin-bottom: 0px;
  justify-content: space-between;
}
.user_name {
  padding-left: 10px;
  font-size: var(--textSm1);
  font-weight: var(--fontWm);
  font-family: var(--fontRegular);
  color: white;
}

.nameContainer {
  justify-content: center;
  display: flex;
  align-items: center;
  color: white;
  padding: 5px;
  border-radius: 6px;
}
.nameContainer:hover {
  background-color: rgba(224, 224, 226, 0.3);
  transition: background-color 1s ease-in-out;
}

.nameContainer .dummyImage {
  object-fit: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.tabContent {
  text-transform: capitalize !important;
  font-family: Poppins Regular !important;
  font-size: 15px !important;
  font-weight: 500 !important;
  text-align: left !important;
  color: #fff !important;
}

.menu {
  display: none;
}

.menuIcon img,
.sideMenuLogo img {
  width: 30px;
  height: 30px;
}
.sideMenuLogo {
  display: flex;
  align-items: center;
}
.sideMenu {
  text-align: center;
  padding: 0px 5px 0px 10px;
}
.menu_content {
  align-items: center;
  display: flex;
  padding: 15px 3px;
  margin-bottom: 5px;
  text-align: center;
  cursor: pointer;
}
.menu_content img {
  margin-right: 10px;
}
.menu_content .sideIcons {
  width: 23px;
  height: 23px;
  margin-right: 10px;
}

.menu h4 {
  margin-bottom: 0 !important;
}

@media (min-width: 992px) {
  .header .child2 {
    margin-right: 0;
  }
  .header.hamburger .user_name .child3 {
    font-size: 1px !important;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .container {
    height: 50px;
  }
  .content {
    display: none;
  }
  .menu {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    width: 95%;
    text-align: center;
    margin: auto auto;
  }
  .child3 {
    display: flex;
  }
  .child3 p {
    margin-left: 10px;
  }
  .content .child3 {
    display: none;
  }
  .user_name span {
    display: none;
  }
}
@media (max-width: 767px) {
  .container {
    height: 50px;
  }
  .menu {
    display: block;
  }
  .content .child2 {
    display: none;
  }
  .content {
    display: none;
  }
  .menu {
    align-items: center;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    text-align: center;
    margin: auto auto;
  }
  .child3 {
    display: flex;
  }
  .child3 p {
    margin-left: 10px;
  }
  .content .child3 {
    display: none;
  }
  .user_name span {
    display: none;
  }
}

@media (min-width: 991px) and (max-width: 1200px) {
  .content h5 {
    display: none;
  }
}
