.Container {
  width: 97%;
  margin: auto;
}
.getReport {
  width: 97%;
  margin: auto;
}

/* confirmation  modal  */

.confirmModal .confirm_Btns {
  width: 100%;
  display: flex;
  margin: 25px auto;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
.confirm_Btns button {
  padding: 10px 20px;
}
.confirm_Btns .cancelBtn button {
  background-color: var(--tableHeadBg) !important;
}
.confirmModal .text {
  font-size: var(--textSm1);
  font-weight: var(--fontWs);
  text-align: center;
}
.confirmModal .deleteIcon {
  text-align: center;
  margin-bottom: 10px;
}
.selectHead {
  color: var(--blackColor);
  font-family: var(--fontRegular);
  font-size: var(--textSm1);
  margin-bottom: 5px !important;
  font-weight: var(--fontWm);
}

/* employeeChangePassword  */

.employeeChangePassword {
  width: 92%;
  margin: auto;
}
.listOfProducts {
  width: 93%;
  margin: auto;
}
