.header {
  width: 98%;
  margin: auto;
  display: flex;
  height: 85px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 0px;
}
.header_left {
  font-size: var(--textMd);
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.header_left .heading {
  color: black;
  font-family: var(--fontBold);
  font-size: var(--textXXl);
  font-weight: var(--fontweight);
}
.header_left .line {
  width: 4px;
  height: 30px;
  background-color: var(--btnColor);
  /* background-color: var(--btn); */
  margin-right: 10px;
  border-radius: 5px;
}
.header_right {
  cursor: pointer;
  display: flex;
}
.downloadBtn {
  background: rgba(0, 0, 0, 0.9) !important;
  color: white !important;
  font-size: 15px !important;
  text-transform: capitalize !important;
  padding-right: 15px !important;
}
@media (max-width: 575px) {
  .header_left .heading {
    font-size: 15px;
  }
  .header {
    height: 50px;
    align-items: center;
    padding: 0 !important;
    display: flex;
    justify-content: space-between;
  }
  /* .header_right {
    width: 100%;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
  } */
  .header_left {
    display: flex !important;
    margin-bottom: 10px;
  }
  .header_left .line {
    height: 25px;
  }
}
