.container {
  width: 95%;
  padding-top: 20px;
  margin: 0px auto 10px 20px;
}

.container .changepasswordcontent {
  width: 60%;
  background-color: white;
  padding: 25px;
  margin-bottom: 10px;
  border: var(--inputBorder);
  border-radius: 8px;
  box-shadow: 0px 1.8250728845596313px 3.6501457691192627px 0px
    rgba(0, 0, 0, 0.1);
}
.savebtn {
  width: 120px;
}
@media (max-width: 1500px) {
  .container .changepasswordcontent {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .container .changepasswordcontent {
    width: 100%;
  }
}
@media (max-width: 1500px) {
  .container {
    margin: auto;
    width: 100%;
  }
}
