/* button  */

.btn button {
  border: none;
  width: 100%;
  background-color: var(--btnColor);
  color: var(--whiteColor);
  border-radius: 5px;
  padding: 10px 5px;
  font-family: var(--fontRegular);
  font-size: var(--textSm);
}

/* input  */
.container {
  display: flex;
  flex-direction: column;
}
.star {
  color: var(--dangerColor);
}

.title {
  color: var(--blackColor);
  font-family: var(--fontRegular);
  font-size: var(--textSm1);
  margin-bottom: 5px !important;
  font-weight: var(--fontWm);
}
.errorTxt {
  color: var(--dangerColor);
  font-size: var(--errorTxt);
}
.inputBox input {
  height: 40px;
  border-radius: 8px;
  padding: 0px 10px 0 10px;
  background-color: transparent;
  border: none !important;
  outline: unset !important;
}
.inputBox .passwordIcon {
  width: 13%;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.passwordIcon img {
  width: 20px;
  height: 20px;
}
.inputBox {
  display: flex;
  width: 100%;
  height: 42px;
  margin-bottom: 5px;
  border: var(--inputBorder);
  background: var(--inputBg);
  border-radius: 8px;
}
.container input::placeholder {
  font-size: 14px;
}
.placeholder {
  font-family: var(--fontRegular) !important;
  font-size: 14px !important;
  color: rgb(174, 168, 168) !important;
}

/* loader  */
.loaderParent {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
}
.loaderParent {
  background-color: rgba(0, 0, 0, 0.5);
}
.loader {
  border: 5px solid rgba(68, 66, 66, 0.5);
  border-radius: 50%;
  border-top: 5px solid var(--btnColor);
  width: 35px;
  height: 35px;
  animation: spin 2s linear infinite;
  align-self: center;
  -webkit-animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 575px) {
  /*input box */
  .container .title {
    font-size: 14px;
  }
  .container input::placeholder {
    font-size: 14px;
  }
}

/* antd dropdonw start design  */

/* dropdown  */
.dropdonwContainer button {
  border: var(--inputBorder) !important;
  font-family: var(--fontRegular);
  font-size: 15px;
  padding: 0 15px !important;
  height: 42px !important;
  width: 100% !important;
}
.dropdonwContainer button:hover {
  color: black !important;
}
.dropdonwContainer button:focus {
  color: black !important;
}
.dropdonwContainer .btnTextAndArrow {
  height: 32px !important;
  display: flex;
  align-items: center !important;
  justify-content: space-between !important;
}
/* date picker  */
.datePicker {
  border-color: var(--inputBorder) !important;
}
.datePicker > div:hover {
  box-shadow: none !important;
  border-color: lightgray !important;
}
.datePicker > div:focus {
  box-shadow: none !important;
  border-color: #43bcff !important;
}
/* modal style  */

/* all popup same head  and close*/
.popup_head_left .line {
  width: 4px;
  height: 30px;
  background-color: var(--btnColor);
  margin-right: 10px;
  border-radius: 5px;
}
.popup_head_left {
  font-size: var(--textMd);
  font-weight: var(--fontWxl);
  display: flex;
  align-items: center;
}
.popup_head_left .Heading {
  color: black;
  font-family: var(--fontBold);
  font-size: var(--textXXl);
  font-weight: var(--fontweight);
}
/* react pagenate  */

/* pagenation  */
.pageContainer {
  display: flex;
  justify-content: space-between;
  width: 97%;
  margin: 5px auto;
}
.pagination_container {
  gap: 10px;
  width: 95%;
  margin: 5px auto;
  justify-content: flex-end;
  display: flex;
}
.pagenation {
  height: 30px;
}
.pagenation li a {
  padding: 11px;
}
.pagenation li {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}
.active {
  background: rgb(239, 233, 233, 0.7);
  color: var(--btnColor);
  border: 1px solid #e0e0e0;
  font-size: 14px;
}
.labellink {
  font-size: 14px;
  color: var(--btnColor);
  text-decoration: none;
  background-color: #fff;
}
.labellinkdisable {
  font-size: 14px;
  color: gray;
  text-decoration: none;
  background-color: #fff;
}

.currentpage {
  color: white;
  background-color: var(--btnColor);
}
