.container1 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to right,
    rgb(248, 243, 243),
    rgba(68, 41, 184, 0.2)
  );
}
.container2 {
  display: flex;
  background-color: rgb(249, 249, 253);
  border-radius: 10px;
  padding: 30px 20px;
  width: 100%;
  height: auto;
  max-width: 1100px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.container2 .leftcontent {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.leftcontent .title {
  font-family: var(--fontRegular);
  font-size: var(--textXl2);
  font-weight: var(--fontweight);
}
.container2 .rightcontent {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.06);
  background: #ffff;
  height: auto;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}

.inputsection {
  margin-bottom: 14px;
  position: relative;
}

.SignupCompanyName {
  font-size: 21px;
  color: black;
  letter-spacing: 2px;
  margin-bottom: 20px;
  font-family: var(--fontRegular);
  font-weight: var(--fontweight);
  text-align: center;
  padding: 0 0 5px 0;
}
@media (min-width: 991px) and (max-width: 1200px) {
  .container2 {
    max-width: 900px;
  }
}
@media (min-width: 764px) and (max-width: 991px) {
  .container2 {
    max-width: 90%;
  }
}

@media (min-width: 575px) and (max-width: 764px) {
  .container2 {
    max-width: 550px;
  }
  .leftcontent {
    display: none;
  }
  .leftcontent img {
    display: none;
  }
}
@media (max-width: 575px) {
  .container2 {
    max-width: 350px;
  }
}
