/* dashborad */
.DubpilcateDashboard {
  /* position: relative; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 65px);
  background-image: url(../../Assets//Images//Png//bolts1.jpg);
}
.DubpilcateDashboard p {
  font-family: var(--fontMedium);
  margin-left: 20px;
  font-size: 70px;
}

table .icons img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding: 3px;
  background-color: var(--inputBg);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  text-align: center;
  border: 0.5px solid rgba(0, 0, 0, 0.25);
}
/* list of products  */

.listOfProducts,
.insepectionCreteria {
  width: 95%;
  margin: auto;
}
.listOfTable {
  width: 100%;
}
.listOfTable th {
  text-align: center;
  background-color: lightblue;
  height: 40px;
}
.listOfTable thead th:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.listOfTable thead th:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.listOfTable tbody td:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.listOfTable tbody td:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.listOfTable tbody tr:nth-child(even) {
  background-color: rgb(192, 196, 187);
}
.reportInsepection {
  width: 97%;
  margin: auto;
}
.reportInsepection .Dashboard table {
  border-collapse: collapse;
}
.Dashboard {
  width: 100%;
  margin: 5px auto 20px auto;
}
.Dashboard .NormalTable th {
  border: none;
}
.Dashboard .heading {
  font-family: var(--fontBold);
  font-size: var(--textMd);
}
.Dashboard table {
  overflow: hidden;
  margin-top: 0px !important;
  margin: auto;
  width: 100%;
}
.Dashboard tbody td {
  text-align: center;
}
.Dashboard .observe {
  text-align: center;
  width: 90px;
}
.Dashboard .fourHeadings th {
  height: 35px;
  padding-left: 10px;
}
.Dashboard .secondHead {
  text-align: center;
}
.devicetable td input,
.reportInsepection td input {
  border: none;
  outline: unset;
  background-color: transparent;
  width: 100%;
  height: 20px;
}
.Dashboard .observationInput {
  padding-left: 10px;
  height: -webkit-fill-available;
}
.Dashboard .checkBoxContainer {
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Dashboard .checkBox {
  cursor: pointer;
  width: 18px;
  height: 18px;
}
.Dashboard .serialNo {
  width: 40px;
}
.Dashboard .secondFourtColumn {
  width: 500px;
}
.Dashboard .final {
  text-align: right;
  height: 50px;
}
.Dashboard .finalStatus {
  display: flex;
  justify-content: right;
  gap: 30px;
  margin-right: 90px;
}
.Dashboard .finalStatus label {
  margin-left: 10px;
}
.Dashboard .staticHeading {
  text-align: left;
  padding-left: 10px;
}
.Dashboard td {
  height: 40px;
  text-align: center;
}
.Dashboard .CompanyName {
  text-align: center;
  padding: 10px 0;
}
.Dashboard table thead th input {
  width: 100%;
  border: none;
  outline: unset;
}
/* export  */
.selectHead {
  color: var(--blackColor);
  font-family: var(--fontRegular);
  font-size: var(--textSm1);
  margin-bottom: 5px !important;
  font-weight: var(--fontWm);
}
.Export {
  width: 95%;
  margin: auto;
}

/* prpareinspection report  */

.tabContent {
  text-transform: capitalize !important;
  font-family: Poppins Regular !important;
  font-size: 15px !important;
  font-weight: 500 !important;
  line-height: 23px !important;
  letter-spacing: 0em !important;
  text-align: left !important;
}

th {
  font-family: var(--fontBold);
  font-size: var(--textXs);
}

td {
  font-size: var(--textXs);
  font-family: var(--fontRegular);
}

.PrepareInspectionReport {
  padding: 15px;
  width: 30%;
  border-radius: 8px;
  margin: auto;
  box-shadow: var(--shadow);
  border: var(--inputBorder);
}

/* export page  */
.serachOptionConatiner {
  /* border: var(--inputBorder); */
  margin-bottom: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: var(--shadow);
}
@media (max-width: 1200px) {
  .PrepareInspectionReport {
    width: 40%;
  }
  .reportInsepection table {
    min-width: 1500px;
  }
  .listOfTable {
    width: 1000px;
  }
}
@media (max-width: 992px) {
  .listOfTable {
    width: 1030px !important;
  }
  .PrepareInspectionReport {
    width: 50%;
  }
  .reportInsepection table {
    min-width: 1500px;
  }
}
@media (max-width: 765px) {
  .listOfTable {
    width: 1030px !important;
  }
  .PrepareInspectionReport {
    width: 70%;
  }
  .reportInsepection table {
    width: 1500px;
  }
}
@media (max-width: 575px) {
  .listOfTable {
    width: 1100px !important;
  }
  .PrepareInspectionReport {
    width: 100%;
  }
  .reportInsepection table {
    width: 1500px;
  }
}

/* incoming inspection report  */

.reportInsepection table td,
th {
  border: var(--inputBorder);
}
