* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --fontRegular: "Poppins Regular";
  --fontSemibold: "Poppins SemiBold";
  --fontMedium: "Poppins Medium";
  --fontBold: "Poppins Bold";
  --fontExtraBold: "Poppins ExtraBold";
  --fontLight: "Poppins Light";
  --dangerColor: #f14a45;
  --inputBg: rgba(255, 255, 255, 0.9);
  --ganttHeadBorder: 1px solid rgba(255, 255, 255, 0.2);
  --tableBrBottom: 1px solid rgba(0, 0, 0, 0.1);
  --whiteColor: #fff;
  --blackColor: #262626;
  --lowBlackColor: #252525;
  --successColor: #2ab95a;
  --menuBg: #1a2c41;
  --btnClr: blue;
  --tableHeadBg: #878484;
  --menuBg2: #fff9f8;
  --cancelBtnClr: rgb(195, 193, 193);
  --menuBg: #1a2c41;
  --logindesccolor: rgba(0, 0, 0, 0.7);
  --inputBorder: 0.5px solid rgba(0, 0, 0, 0.25);
  --inputBg: rgba(255, 255, 255, 0.9);
  --shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
  --inputBodyClr: rgba(38, 38, 38, 0.9);
  --gantchartBorder: 1px solid #ffffff;
  --dropdownBg: #ebebeb;
  --dropdownClr: #555555;
  --btnColor: #f25922;
  --textxxs: 11px;
  --textXs1: 11px;
  --textXs: 14px;
  --textXs2: 14.5px;
  --textSm1: 15px;
  --textS: 15.5px;
  --errorTxt: 12px;
  --textcolor: rgba(38, 38, 38, 0.9);
  --textcolor2: rgba(0, 0, 0, 0.75);
  --textXs2: 14.5px;
  --textSm: 16px;
  --textMd: 18px;
  --textLg: 24px;
  --textXl: 26px;
  --textXl2: 27px;
  --textXXl: 20px;
  --textDefault: 17px;
  --texth6: 19px;
  --xlText: 75px;
  --lgText: 63px;
  --mdText: 48px;
  --fontWm: 500;
  --fontWs: 400;
  --fontweight: 600;
}
.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  border: none !important;
}
@font-face {
  font-family: "Poppins Bold";
  src: url("../src/Assets/Fonts/Poppins/Poppins-Bold.ttf") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Poppins Medium";
  src: url("../src/Assets/Fonts/Poppins/Poppins-Medium.ttf") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Poppins Regular";
  src: url("../src/Assets/Fonts/Poppins/Poppins-Regular.ttf") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Poppins ExtraBold";
  src: url("../src/Assets/Fonts/Poppins/Poppins-ExtraBold.ttf") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Poppins Light";
  src: url("../src/Assets/Fonts/Poppins/Poppins-Light.ttf") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Poppins SemiBold";
  src: url("../src/Assets/Fonts/Poppins/Poppins-SemiBold.ttf") format("woff");
  font-display: swap;
}

/* dropdown */

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  color: black !important;
  border-color: black !important;
}
/* .btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active { */
p {
  margin-bottom: 0 !important;
}

/* toastify */

:root {
  --toastify-color-progress-info: none !important;
  --toastify-color-progress-success: none !important;
  --toastify-color-progress-warning: none !important;
  --toastify-color-progress-error: none !important;
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: #1a2c41 !important;
}
.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  color: #fff !important;
}
/*offcanvas*/

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: none !important;
  --bs-btn-border-color: none !important;
  --bs-btn-hover-color: none !important;
  --bs-btn-hover-bg: none !important;
  --bs-btn-hover-border-color: none !important;
  --bs-btn-focus-shadow-rgb: none !important;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: none !important;
  --bs-btn-active-border-color: none !important;
}
.offcanvas {
  background-color: var(--menuBg) !important;
  color: #fff !important;
}
.offcanvas-title {
  font-size: 15px !important;
}
.btn-close {
  background-color: #fff !important;
  margin-bottom: 20px !important;
  padding: 5px !important;
  margin-right: 1px !important;
  margin-left: auto;
}
/* .offcanvas-body p{
  margin-top: 10px;
}
.offcanvas-body img{
  margin-top: 15px;
} */
/* .css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
border: var(--inputBorder) !important;
} */

body {
  background: #fff;
  font-family: "Open-Sans", sans-serif;
}

#container {
  margin-left: 20px;
  position: relative;
}

#tag {
  color: white;
  background: #4b4b4b;
  width: 200px;
  position: absolute;
  display: none;
  padding: 8px;
  margin-left: -110px;
  font-size: 14px;
  border-radius: 4px;
}

#tag:before {
  border: solid transparent;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: -5px;
  position: absolute;
  width: 0;
  border-width: 10px;
  border-bottom-color: #4b4b4b;
  top: -20px;
}
.line {
  opacity: 0.6;
  shape-rendering: crispEdges;
}
.done {
  fill: #d6d6d6;
  text-decoration-line: line-through;
}
.todo {
  fill: #fff;
}
@media (max-width: 575px) {
  .offcanvas.show:not(.hiding) {
    width: 90%;
  }
}
/* @media(min-width:575px){
  .offcanvas.show:not(.hiding){
   width: 70%;
  }
} */
@media (min-width: 768px) and (max-width: 992px) {
  .offcanvas.show:not(.hiding) {
    width: 35%;
  }
}

/* React paginate Custom Styles */

.bg_orange {
  background-color: var(--secondaryColor) !important;
}
.page-item.active .page-link {
  background-color: var(--btnClr) !important;
  width: 35px !important;
  height: 33px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  color: var(--whiteColor) !important;
}
.css-1h51icj-MuiAutocomplete-root
  .MuiOutlinedInput-root
  .MuiAutocomplete-input {
  padding: 7px 4px 7.5px 5px !important;
}

.add_machine_table table tr {
  padding: 10px 0;
}
.add_machine_table table th {
  text-align: center;
  white-space: nowrap;
  max-width: fit-content;
}
.add_machine_table table td {
  text-align: center;
  vertical-align: top;
}
.add_machine_table table tr {
  text-align: center !important;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  cursor: pointer !important;
}
/* header dropdown*/

/* copy icon */

.css-i4bv87-MuiSvgIcon-root {
  font-size: 18px !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: none !important;
  border: none !important;
}

/* table */

.MuiInput-underline:after {
  border-bottom: none !important;
}

@media (min-width: 960px) {
  .globalModal > div:nth-child(3) > div {
    min-width: 600px;
  }
  .modalMinMDWidth > div:nth-child(3) > div {
    min-width: 850px;
  }
}

/* ant design start  */
.ant-tabs {
  display: flex;
}
.ant-tabs-nav::before {
  border-bottom: none !important;
}
.ant-tabs-tab:hover {
  color: black !important;
}
.ant-menu {
  border-inline-end: none !important;
}
.ant-tabs-tab {
  padding: 5px !important;
  color: black !important;
}
.ant-tabs-tab-btn {
  font-family: var(--fontRegular) !important;
  font-size: var(--textSm1);
  font-weight: var(--fontWm);
}
.ant-drawer-header-title {
  justify-content: flex-end !important;
}
.ant-drawer-wrapper-body {
  /* background-color: var(--menuBg) !important; */
  background-color: white;
}
.ant-tabs-tab-active > div {
  /* color: white !important; */
  color: black !important;
}
.ant-tabs-ink-bar {
  background-color: var(--btnColor) !important;
  height: 3px !important;
  border-radius: 5px !important;
  /* width: 40px !important; */
}
.ant-drawer .ant-drawer-content {
  color: black;
}
.ant-dropdown-trigger {
  /* color: white; */
  padding-left: 10px;
}

.ant-dropdown-menu-title-content a {
  text-decoration: none !important;
}
.ant-dropdown .ant-dropdown-menu {
  padding: 0 !important;
}
.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item-icon {
  font-size: 18px !important;
}
.ant-dropdown {
  padding: 7px 5px 0 0 !important;
}
.ant-dropdown-menu-item {
  padding: 14px !important;
  border-radius: 0 !important;
}
.ant-dropdown-menu-item:not(:nth-last-child(1)) {
  border-bottom: 1px solid rgb(228, 226, 226) !important;
}
.ant-picker {
  padding: 0px 8px 0 !important;
}
