* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --fontRegular: "Poppins Regular";
  --fontSemibold: "Poppins SemiBold";
  --fontMedium: "Poppins Medium";
  --fontBold: "Poppins Bold";
  --fontExtraBold: "Poppins ExtraBold";
  --fontLight: "Poppins Light";
  --dangerColor: #f14a45;
  --inputBg: rgba(255, 255, 255, 0.9);
  --ganttHeadBorder: 1px solid rgba(255, 255, 255, 0.2);
  --tableBrBottom: 1px solid rgba(0, 0, 0, 0.1);
  --whiteColor: #fff;
  --blackColor: #262626;
  --lowBlackColor: #252525;
  --successColor: #2ab95a;
  --menuBg: #1a2c41;
  --btnClr: blue;
  --tableHeadBg: #878484;
  --menuBg2: #fff9f8;
  --cancelBtnClr: rgb(195, 193, 193);
  --menuBg: #1a2c41;
  --logindesccolor: rgba(0, 0, 0, 0.7);
  --inputBorder: 0.5px solid rgba(0, 0, 0, 0.25);
  --inputBg: rgba(255, 255, 255, 0.9);
  --shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
  --inputBodyClr: rgba(38, 38, 38, 0.9);
  --gantchartBorder: 1px solid #ffffff;
  --dropdownBg: #ebebeb;
  --dropdownClr: #555555;
  --btnColor: #1b08a9;
  /* --btnColor: rgba(142, 162, 191); */
  --textxxs: 11px;
  --textXs1: 11px;
  --textXs: 14px;
  --textXs2: 14.5px;
  --textSm1: 15px;
  --textS: 15.5px;
  --errorTxt: 12px;
  --textcolor: rgba(38, 38, 38, 0.9);
  --textcolor2: rgba(0, 0, 0, 0.75);
  --textXs2: 14.5px;
  --textSm: 16px;
  --textMd: 18px;
  --textLg: 24px;
  --textXl: 26px;
  --textXl2: 27px;
  --textXXl: 20px;
  --textDefault: 17px;
  --texth6: 19px;
  --xlText: 75px;
  --lgText: 63px;
  --mdText: 48px;
  --fontWm: 500;
  --fontWs: 400;
  --fontweight: 600;
}
.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  border: none !important;
}
@font-face {
  font-family: "Poppins Bold";
  src: url("../src/Assets/Fonts/Poppins/Poppins-Bold.ttf") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Poppins Medium";
  src: url("../src/Assets/Fonts/Poppins/Poppins-Medium.ttf") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Poppins Regular";
  src: url("../src/Assets/Fonts/Poppins/Poppins-Regular.ttf") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Poppins ExtraBold";
  src: url("../src/Assets/Fonts/Poppins/Poppins-ExtraBold.ttf") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Poppins Light";
  src: url("../src/Assets/Fonts/Poppins/Poppins-Light.ttf") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Poppins SemiBold";
  src: url("../src/Assets/Fonts/Poppins/Poppins-SemiBold.ttf") format("woff");
  font-display: swap;
}

p {
  margin-bottom: 0 !important;
}

/* toastify */

:root {
  --toastify-color-progress-info: none !important;
  --toastify-color-progress-success: none !important;
  --toastify-color-progress-warning: none !important;
  --toastify-color-progress-error: none !important;
}

body {
  background: #fff;
  font-family: "Open-Sans", sans-serif;
}

@media (max-width: 575px) {
  .offcanvas {
    width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .offcanvas {
    width: 35%;
  }
}

/* @media (max-width: 575px) {
  .offcanvas.show:not(.hiding) {
    width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .offcanvas.show:not(.hiding) {
    width: 35%;
  }
} */

/* ant design start  */
.ant-tabs {
  display: flex;
}
.ant-tabs-nav::before {
  border-bottom: none !important;
}
.ant-tabs-tab:hover {
  color: black !important;
}
.ant-menu {
  border-inline-end: none !important;
}
.ant-tabs-tab {
  padding: 5px !important;
  color: black !important;
}
.ant-tabs-tab-btn {
  font-family: var(--fontRegular) !important;
  font-size: var(--textSm1);
  font-weight: var(--fontWm);
}
.ant-drawer-header-title {
  justify-content: flex-end !important;
}
.ant-drawer-wrapper-body {
  /* background-color: var(--menuBg) !important; */
  background-color: white;
}
.ant-tabs-tab-active > div {
  color: black !important;
}
.ant-tabs-ink-bar {
  background-color: var(--btnColor) !important;
  height: 3px !important;
  border-radius: 5px !important;
}
.ant-drawer .ant-drawer-content {
  color: black;
}
.ant-dropdown-trigger {
  padding-left: 10px;
}

.ant-dropdown-menu-title-content a {
  text-decoration: none !important;
}
.ant-dropdown .ant-dropdown-menu {
  padding: 0 !important;
}
.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item-icon {
  font-size: 18px !important;
}
.ant-dropdown {
  padding: 7px 5px 0 0 !important;
}
.ant-dropdown-menu-item {
  padding: 14px !important;
  border-radius: 0 !important;
}
.ant-dropdown-menu-item:not(:nth-last-child(1)) {
  border-bottom: 1px solid rgb(228, 226, 226) !important;
}
.ant-picker {
  padding: 0px 12px 0 !important;
}
.ant-tabs .ant-tabs-tab-btn:focus:not(:focus-visible) {
  color: black;
}
