* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --fontRegular: "Poppins Regular";
  --fontSemibold: "Poppins SemiBold";
  --fontMedium: "Poppins Medium";
  --fontBold: "Poppins Bold";
  --dangerColor: #f14a45;
  --whiteColor: #fff;
  --blackColor: #262626;
  --lowBlackColor: #252525;
  --successColor: #2ab95a;
  --btnClr: #1b08b2;
  --tableHeadBg: #878484;
  --inputBorder: 0.5px solid rgba(0, 0, 0, 0.25);
  --inputBg: rgba(255, 255, 255, 0.9);
  --shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
  --btnColor: #1b08b2;
  --textXs1: 11px;
  --textXs: 14px;
  --textSm1: 15px;
  --textS: 15.5px;
  --errorTxt: 12px;
  --textcolor: rgba(38, 38, 38, 0.9);
  --textSm: 16px;
  --textMd: 18px;
  --fontWm: 500;
  --fontWs: 400;
  --fontweight: 600;
}

@font-face {
  font-family: "Poppins Bold";
  src: url("../src/Assets/Fonts/Poppins/Poppins-Bold.ttf") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Poppins Medium";
  src: url("../src/Assets/Fonts/Poppins/Poppins-Medium.ttf") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Poppins Regular";
  src: url("../src/Assets/Fonts/Poppins/Poppins-Regular.ttf") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Poppins SemiBold";
  src: url("../src/Assets/Fonts/Poppins/Poppins-SemiBold.ttf") format("woff");
  font-display: swap;
}

p {
  margin-bottom: 0 !important;
}

/* toastify */

:root {
  --toastify-color-progress-info: none !important;
  --toastify-color-progress-success: none !important;
  --toastify-color-progress-warning: none !important;
  --toastify-color-progress-error: none !important;
}

body {
  background: #fff;
  font-family: "Open-Sans", sans-serif;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .ant-tabs-tab-btn,
  .headerUsername {
    font-size: 13px !important;
  }
}

.ant-tabs {
  display: flex;
}
.ant-tabs-nav::before {
  border-bottom: none !important;
}
.ant-tabs-tab:hover {
  color: white !important;
}
.ant-menu {
  border-inline-end: none !important;
}
.ant-tabs-tab {
  padding: 5px !important;
  /* color: white !important; */
  color: whitesmoke !important;
}
.ant-tabs-tab-btn {
  font-family: var(--fontRegular) !important;
  font-size: var(--textSm1);
  font-weight: var(--fontWm);
}
.ant-drawer-header-title {
  justify-content: flex-end !important;
}
.ant-drawer-wrapper-body {
  background-color: var(--btnClr);
}
.ant-tabs-tab-active > div {
  /* color: white !important; */
  color: whitesmoke !important;
}
.ant-tabs-ink-bar {
  background-color: white !important;
  height: 3px !important;
  border-radius: 5px !important;
}
.ant-drawer .ant-drawer-content {
  color: black;
}
.ant-dropdown-trigger {
  padding-left: 10px;
}

.ant-dropdown-menu-title-content a {
  text-decoration: none !important;
}
.ant-dropdown .ant-dropdown-menu {
  padding: 0 !important;
}
.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item-icon {
  font-size: 18px !important;
}
.ant-dropdown {
  padding: 7px 5px 0 0 !important;
}
.ant-dropdown-menu-item {
  padding: 14px !important;
  border-radius: 0 !important;
}
.ant-dropdown-menu-item:not(:nth-last-child(1)) {
  border-bottom: 1px solid rgb(228, 226, 226) !important;
}
.ant-picker {
  padding: 0px 12px 0 !important;
}
.ant-tabs .ant-tabs-tab-btn:focus:not(:focus-visible) {
  /* color: white; */
  color: whitesmoke;
}
.ant-picker-input > input[disabled] {
  color: black !important;
}
